services:
  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - pg_network

  adminer:
    image: adminer:latest
    restart: unless-stopped
    ports:
      - "7676:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - pg_network

volumes:
  postgres-data:
  
networks:
  pg_network:
    driver: bridge
